<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="hexlet.code.config.DataBaseConfig" level="INFO"/>

    <!-- Отключить Jetty -->
    <logger name="org.eclipse.jetty" level="WARN"/>

    <!-- Только request debug для Javalin -->
    <logger name="io.javalin.Javalin" level="DEBUG"/>

    <logger name="com.zaxxer.hikari" level="WARN"/>  <!-- Только ошибки -->
    <logger name="com.zaxxer.hikari.pool.HikariPool" level="ERROR"/> <!-- Критические -->
    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
